@import "sass/functions";

.question {
  &__card {
    &.ant-card {
      margin-bottom: 16px;
    }

    &__question-text {
      .ant-typography {
        font-size: 130%;
      }
    }
  }

  &__answer-buttons {
    display: flex;

    button {
      flex-grow: 1;

      &:first-child {
        margin-right: 8px;
      }

      &:last-child {
        margin-left: 8px;
      }
    }
  }
}
