.question-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 60px;
  position: relative;

  &__progress {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 32px;
  }

  &__content {
    margin-top: auto;
    margin-bottom: auto;
  }
}
