.home-page {
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  .theme-button.ant-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
}
