@import "sass/functions";

.app-container {
  height: vh(100);

  &__content {
    height: 100%;

    &__prefs-button.ant-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
    }
  }
}
